* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: rgb(21,21,21);
background: linear-gradient(174deg, rgba(21,21,21,1) 0%, rgba(36,36,36,1) 100%);
} 
main{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 1rem;
  margin-bottom: 0;
} 
nav,ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3,h2{
  color: whitesmoke;
}
li{
  align-items: center;
  list-style: none;
  font-size: 30px;
  display: flex;
  padding: 21px 21px 21px 21px;
  z-index: 10;
}
.head h2{
  color: whitesmoke;
  z-index: 10; 
  width: 39rem;
  font-size: 58px;
  letter-spacing: 3px;
}
.head{
  display: flex;
  height: 7rem;
}
.imgs{
  position: relative;
  top: -120px;
  left: 8px;
}
span{
  border-bottom: 4px solid green;
}